{% extends "layout.html" %}

{% block contenido %}
    <main>   
        <section class="recent">
            <div class="activity-grid">
                <div class="activity-card">
                <h3>Registro de Editorial</h3>
                    <div class="table-responsive">
                        <form action="/modificaredi" method="post">
                            <label for="titulo" class="lab-crear">Nombre del editorial:</label>
                            <input type="text" name="nombre_editorial" value="{{editorial.nombre_editorial}}">
                            <input type="hidden" name="id_editorial" value="{{editorial.id_editorial}}">
                            <br>
                            <br>
                            <input type="submit" value="Modificar">
                        </form>
                    </div>
                </div>
              </div>
        </section>
    </main>
{% endblock %}