{% extends "layout.html" %}

{% block head %}
<head>
  <meta charset="utf-8">
  <title>{% block titulo %}New User{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/form_user.css">
</head>
{% endblock %}

{% block encabezado %}
{% endblock %}

{% block contenido %}
<section class="form-register">
    <h4>Registro</h4>
    <form action="/register_user" method="post">
        <input class="controls" type="email" name="email" placeholder="Email" value="">
        <input class="controls" type="password" name="password" placeholder="Password" value="">
        <p><a href="/sign_in" class="e-link">Iniciar Sesion</a></p>
        <input class="botons" type="submit" value="Registrar">
    </form>
</section>   
{% endblock %}